.m-0 {
    color: lightblue;
    font-weight: 500;
}

.btn {
    background-color: lightblue;
}

.btn:hover {
    background-color: antiquewhite;
    font-size: larger;
}

.footer a {
    color: darkgray;
    font-variant: small-caps;
    font-size: small;
}

.body {
    background-color: antiquewhite;
}

.cta {
    background-color: rgba(80, 38, 112, 0.9);
}